<title>Medicamentos</title>

<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!--Icons-->
<link rel="shortcut icon" href="../img/logowhite.png">
<!--CSS-->
<link rel="stylesheet" href="../css/styles.css">
<!--Fonts-->

<body class="bg-bodyM">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="/index.html"><img class="logoNavBar" src="../img/logowhite.png" alt="logoccss"></a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="./citasMedicas.html">Citas Medicas</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./datosPersonales.html">Datos Personales</a>
                          </li>
      
                        <li class="nav-item">
                          <a class="nav-link " href="./Medicamentos.html">Medicamentos</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="./vacunas.html">Vacunas</a>
                          </li>
      
                        <li class="nav-item">
                          <a class="nav-link" href="#contacto" >Contacto</a>
                        </li>
    
                      </ul>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <h1 class="sombraLetras text-white text-center">Sus medicamentos en CCSS</h1>

    <!--Cards 1-->
    <div class=" margindCardsM row row-cols-1 row-cols-md-5 g-4">
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/acetaminofen.webp" class="card-img-top" alt="acetaminofen">
          <div class="card-body">
            <h5 class="card-title">Acetaminofen</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/ibru.webp" class="cardIbo card-img-top" alt="Ibuprofeno">
          <div class="card-body">
            <h5 class="card-title">Ibuprofeno</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/hidroAlum.webp" class="card-img-top" alt="Hidróxido de Aluminio">
          <div class="card-body">
            <h5 class="card-title">Hidróxido de Aluminio</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/cremaRosas.jpg" class="card-img-top" alt="Crema de Rosas">
          <div class="card-body">
            <h5 class="card-title">Crema de Rosas</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="../img/lorata.webp" class="card60 card-img-top" alt="Loratadina">
          <div class="card-body">
            <h5 class="card-title">Loratadina</h5>
          </div>
        </div>
      </div>
    </div>
<!--Cards1 end-->

<!--Cards 2-->
    <div class="margindCardsM row row-cols-1 row-cols-md-5 g-4">
      <div class="col colContent">
        <div class="card h-100">
          <img src="../img/paracetamol.webp" class="card60 card-img-top" alt="Paracetamol">
          <div class="card-body">
            <h5 class="card-title">Paracetamol</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/ampicilina.jpg" class="card-img-top" alt="Ampicilina">
          <div class="card-body">
            <h5 class="card-title">Ampicilina</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/neomicin.jpg" class="cardIbo card-img-top" alt="Neomicil">
          <div class="card-body">
            <h5 class="card-title">Neomicil</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/Clofazimina.jpg" class="cardIbo card-img-top" alt="Clofazimina">
          <div class="card-body">
            <h5 class="card-title">Clofazimina</h5>
          </div>
        </div>
      </div>
      <div class="col colContent">
        <div class="card h-100">
          <img src="/assets/img/Ergotamina.jpg" class="cardIbo card-img-top" alt="Ergotamina">
          <div class="card-body">
            <h5 class="card-title">Ergotamina</h5>
          </div>
        </div>
      </div>
    </div>
<!--Cards2 end-->

<!--Cards 3-->
<div class=" margindCardsM row row-cols-1 row-cols-md-5 g-4">
  <div class="col colContent">
    <div class="card h-100">
      <img src="../img/nitrofurantoina.jpg" class="card60 card-img-top" alt="Nitrofurantoína">
      <div class="card-body">
        <h5 class="card-title">Nitrofurantoína</h5>
      </div>
    </div>
  </div>
  <div class="col colContent">
    <div class="card h-100">
      <img src="../img/Digoxina.jpg" class="card-img-top" alt="Digoxina">
      <div class="card-body">
        <h5 class="card-title">Digoxina</h5>
      </div>
    </div>
  </div>
  <div class="col colContent">
    <div class="card h-100">
      <img src="../img/amiodarona.webp" class="cardIbo card-img-top" alt="Amiodarona">
      <div class="card-body">
        <h5 class="card-title">Amiodarona</h5>
      </div>
    </div>
  </div>
  <div class="col colContent">
    <div class="card h-100">
      <img src="../img/espironolactona.jpg" class="cardIbo card-img-top" alt="Espironolactona">
      <div class="card-body">
        <h5 class="card-title">Espironolactona</h5>
      </div>
    </div>
  </div>
  <div class="col colContent">
    <div class="card h-100">
      <img src="../img/warfarina.jpg" class="cardIbo card-img-top" alt="Warfarina">
      <div class="card-body">
        <h5 class="card-title">Warfarina</h5>
      </div>
    </div>
  </div>
</div>
<!--Cards3 end-->


<p class="text-center">Todos bajo receta médica</p>


     <!--Footer-->
     <div  id="contacto">
      <footer class="text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ccssdecostarica/" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CCSSdeCostaRica" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ccssdecostarica/" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://cr.linkedin.com/company/ccssdecostarica?original_referer=https%3A%2F%2Fwww.google.com%2F" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-white p-3">
       CCSS © 2023 Copyright by
        <a class="text-white" href="">PicAzo</a>
      </div>
      <!-- Copyright -->
    </footer>
    </div>






        <!--Script Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!--Script Fontawesome-->
        <script src="https://kit.fontawesome.com/3641991d46.js" crossorigin="anonymous"></script>
</body>
