//carousel
.carousel{
    margin-top: 3%;
    width: 50%;
    height: 20%;
}

.contenedorCentrado{
    background-color: $colorAzul;
    color: $colorWhite;
    padding: 1rem;
    margin-top: 5%;
    text-align: center;
}