//navBar
.logoNavBar{
    height: 30%;
    width: 30%;
}
.navbar{
    background-color: $colorAzul;
}

.navbar-brand{
    margin-left: 5%;
}
.nav-link{
    color: $colorWhite;
}
.navbar-toggler{
    background-color: $colorWhite;
}